/* 设置背景色和前景色 */
html{
    color: #333;
    background: #fff;
}
/* 边距清零 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
}
/* 字体和字体大小初始值 */
body,button,input,select,textarea {
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	color:#666;
}
/* 标题字体样式初始值设置 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;font-weight: 400;
}
/*字体样式统一*/
address,cite,dfn,em,var,caption,strong,th,i,code,kbd,pre,samp{
	font-style:normal;font-weight: 400;
}
/*清除列表默认前缀属性*/
ul,ol {
	list-style:none;
}
/*上标、下标设置*/
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/* 去除默认边框 */
input, button, textarea, fieldset, img {
	border: 0 none;
}
/*设置表单元素相关字体及对齐方式*/
button,input,select,textarea {
	font-size:100%;
	vertical-align:middle;
	font-family:inherit;
}
textarea {
    overflow: auto; /* Remove vertical scrollbar in IE6-9 */
    vertical-align: top; /* Readability and alignment cross-browser */
}
/*表格设置*/
table {border-collapse:collapse;border-spacing:0;}
th{ text-align: inherit;}
caption,th{text-align: center;}

/* 超链接默认样式 */
a {
    text-decoration: none;
    color:#005aa0;
}
a:hover {
    text-decoration: underline;
    color:#a40000;
}
a:focus {outline:none;} 

#div1{width:700px;background-color:#999;margin: 0 auto;position:relative;border:1px solid #F5F5F5;border-bottom:0px;border-right:0px;overflow:hidden;margin-top:6px;border:10px solid #F3EEE4;}
.pro_box{position:absolute;background-color:#777788;text-align:center;font-size:13px;left:0px;top:0px;overflow:hidden;cursor:move;}
.pro_box1{top:210px;left:0px;}
.pro_box2{top:210px;left:210px;}
.pro_box3{top:210px;left:350px;}
.pro_box4{top:210px;left:490px;}
.pro_box i{display:block;width:14px;height:14px;position:absolute;top:0px;right:0px;cursor:pointer;
background-image: url(../images/close.png);background-repeat: no-repeat;display:none;}
.boxS{width:70px;height:70px;float:left;overflow:hidden;background-color:#FFF;background-image: url(../images/line.png);background-repeat: no-repeat;background-position: right bottom;}
.set{width:680px;overflow:hidden;margin:0 auto;margin-top:6px;background-color:#F3EEE4;padding:10px 20px;clear:both;}
.inp{width:50px;height:20px;line-height:20px;background-color:#FFFFFF;border:1px solid #D5C49F;}
.inp_file{width:190px;height:20px;line-height:20px;background-color:#FFFFFF;border:1px solid #D5C49F;}
.btn{width:80px;height:22px;line-height:18px;font-weight:bold;background-color:#BC9F63;border:1px solid #ccc;color:#FFFFFF;}
.set li{padding-top:3px;padding-bottom:3px;width:680px;overflow:hidden;}
.set li .tit{display:block;float:left;width:80px;height:20px;}
.set_bg,.unit_bg{display:block;float:left;margin-right:10px;height:30px;line-height:30px;}
.set_bg img,.unit_bg img{width:24px;height:24px;border:1px solid #FFFFFF;display:block;float:left;margin-right:3px;}
.unit_bg img{border:1px solid #CCCCCC;}
.set_bg{color:#9E643D}
.set_bg:hover{text-decoration: none;}
.set_bg:hover img{border:1px solid #9E643D;}
.now img{border:1px solid #9E643D;}
.sel_pro img{margin-right:8px;}
.sel_pro input{position:relative;top:-18px;margin-right:5px;}
.tj,.scqd{
	width:90px;
	height:27px;
	font-size:14px;
	text-align:center;
	color:#FFFFFF;
	margin-top:10px;
	background-image: url(../images/tj_btn.jpg);
	background-repeat: no-repeat;font-weight:bold;
}
#x_x,#y_y{color:#F60;}
/*弹出框样式*/


#tj_box{width:250px;height:150px;background-color:#FFFFFF;border:10px solid #D8D8D8;position: fixed;
_position:absolute;left:50%;margin-left:-125px;margin-top:-100px;top:50%;_top:0px;z-index: 1990;display:none;}
.d-mask { background:#000; filter:alpha(opacity=50); opacity:0.5;z-index: 1987; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; _position:absolute;display:none;}
body{_height:100%;}
.d-titleBar { position:relative;height:33px; line-height:33px;padding:0 28px 0 10px;background: linear-gradient(top, #fff, #f1f1f1); background: -moz-linear-gradient(top, #fff, #f1f1f1); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1f1f1));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#f1f1f1');   }
.d-title {font-weight:700;font-size:14px;text-shadow:0 1px 0 rgba(255, 255, 255, .7); color:#666; }
.d-close { width:21px; height:21px;padding:0; top:4px; right:4px; line-height:21px; font-size:18px; color:#666; text-align:center; display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer;}
.d-close:hover {color:#a40000;text-decoration:none;}
.tj_box_list{width:250px;height:68px;overflow:hidden;margin:0 auto;padding-top:10px;overflow-y:auto;overflow-x:hidden;}
.tj_box_list li{width:47px;height:30px;float:left;padding-left:15px;}
.tj_btn{height:30px;width:230px;padding:8px 10px 0px 10px;overflow:hidden;background-color:#FBFBFB;text-align:right;}
.d-button { margin-left:15px; padding: 0 12px; cursor: pointer; height:24px;line-height: 24px; text-align: center; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; color: #333; border:1px solid #ddd; border-radius: 2px; background: #f5f5f5; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e9e9e9'); background: linear-gradient(top, #fcfcfc, #e9e9e9); background: -moz-linear-gradient(top, #fcfcfc, #e9e9e9); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#e9e9e9));}
.d-button::-moz-focus-inner, .d-button::-moz-focus-outer { border:0 none; padding:0; margin:0;}
.d-button:focus { outline:0 none;}
.d-button:hover { color:#000; }
.d-button[disabled] { cursor:default; color:#666; background:#ddd; border: 1px solid #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
.d-red { color: #fff; background: #2288cc;border-color:#a90000; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd0000', endColorstr='#a50000'); background: linear-gradient(top, #cd0000, #a50000); background: -moz-linear-gradient(top, #cd0000, #a50000); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cd0000), to(#a50000)); }
.d-red:hover { color:#fff;}
.zt01,.cancel_order,.wc_order{letter-spacing:0px;font-size:12px;padding:0px 6px;}
/*单元格颜色设置*/
.dd_set{width:100px;height:40px;float:left;overflow:hidden;margin-top:4px;}
.dd_set_l{width:40px;height:40px;float:left;overflow:hidden;}
.dd_set_l img{width:35px;height:35px;border:1px solid #CCCCCC;}
.dd_set_r{width:50px;height:40px;float:left;}
.dd_set_r a{display:block;height:18px;line-height:18px;text-indent:3px;overflow:hidden;}
.dd_set_r .now{background: url(../images/yes.png) no-repeat 30px 4px;color:red;}
.boxS{cursor: pointer}
/**/
.dd_main{width:720px;margin:0 auto;}
.dd_main h2{height:36px;line-height:36px;color:#333333;font-size:18px;font-weight:bold;font-family: "微软雅黑";border-bottom:1px solid #CDAF95;}
.dd_cate{width:718px;overflow:hidden;border:1px solid #DEDEDE;padding-bottom:8px;}
.prop_item {border-bottom: 1px dotted #EEEEEE;}
.prop_item h4 {color: #666666;float: left;font-weight: normal;height: 30px;line-height: 30px;overflow: hidden; width: 88px;text-align:right;}
.prop_list{width:600px;padding-left:10px;overflow:hidden;float:left;}
.prop_list a{float:left;display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;padding:0 3px;height:20px;line-height:20px;margin-top:5px;margin-right:10px;}
.prop_list a.now{background-color:#D0B099;color:#FFFFFF;}
.set_room{width:700px;padding:10px;background-color:#F3EEE4;margin-top:6px;}
.module_tit{height:28px;border-bottom:1px solid #CDAF95;margin-top:6px;}
.module_tit a{display:block;width:100px;height:27px;line-height:27px;text-align:center;background-color:#F6F6F6;border:1px solid #CDCDCD;float:left;margin-right:5px;color:#656565;border-bottom:0px;}
.module_tit a.cur{background-color:#CDAF95;color:#FFFFFF;font-weight:bold;border-color:#CDAF95;}
.module_tit span{float:right;display:block;line-height:27px;color:#FF3300}
.module_list{width:680px;overflow:hidden;}
.module_list dt{width:680px;float:left;height:25px;line-height:25px;}
.module_list dd{float:left;margin-right:10px;cursor: pointer;position:relative;}
.module_list dd input{position:absolute;top:0px;right:0px;color:#F60;font-weight:bold;padding-right:4px;width:20px;background-color:transparent;text-align:right;}
.module_list dd img{border:1px solid #F3EEE4;}
.module_list dd.now img{border:1px solid #FF9900;}
/*清单列表*/
.qd{border:1px solid #ccc;text-align:center;background-color:#FFFFFF;}
.qd td{border:1px solid #ccc;padding-top:5px;padding-bottom:5px;}
