@charset "utf-8";
/*
 *	base.css
 *	author: Fu Zhengzong
 *	mail: fuzhengzong@qeeka.com
 *	date: 2011 - 11 - 02 
*/

body {
	font:12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}

.mv10{margin:10px 0;}/* vertical*/
.mh10{margin:0 10px;}/* horizontal */

/* wrapper */
.wrap {
	width:1000px;
	margin:0 auto;
}
/* link */
a {
	color:#666;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#a40000;
}
