/*
	consult.css
	商品咨询样式
	fuzhengzong @ 2012-02-8
*/
.no_info{
	width:400px;
	height:32px;
	margin:30px auto;
	padding-left:40px;
	line-height:32px;
	font-size:14px;
	color:#333;
	background:url(../img/warn_sub.png) no-repeat;
}
.check_tip{
	padding:15px;
}
.check_err{
	border:1px solid #f5d89b;
	color:#f60;
	font-size:16px;
	font-weight:700;
	padding-left:60px;
	background:#ffc url(../img/err.png) no-repeat 20px center;
}

.consult_search{
	margin:15px 0;
}
.consult_search em{
	font-weight:700;
	color:#666;
}
.txt,.reply_area{
	border:1px solid #bbb;
	box-shadow:1px 1px 1px #ddd inset;
}
.txt:focus,.reply_area:focus{
	border-color:#999;
	box-shadow:none;
}
.consult_search .txt{
	width:150px;
	height:16px;
	padding:2px 0 2px 3px;
}
.consult_search .consult_time{
	float:left;
	padding-right:20px;
}
.consult_search .datein{
	width:125px;
	padding-right:25px;
	margin:0 3px;
	background:url(../img/datepicker.png) no-repeat 132px center;
}
.consult_search .cond_filter .txt{
	width:170px;
}
.cond_filter select{
	width:100px;
}

.consult_search button,.consult_list button{
	width:70px;
	height:24px;
	margin-left:3px;
	line-height:24px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border-radius:2px;
	background:url(../img/edit_btn.png) no-repeat;
}
.consult_search button:hover{
	box-shadow:1px 1px 0 #efefef;
}

.consult_list table{
	width:100%;
}
.consult_list th{
	height:30px;
	line-height:30px;
	text-align:center;
	background:#f6f6f6;
	border-top:1px solid #dfdfdf;
}
.consult_list td{
	padding:10px;
	text-align:center;
	border-bottom:1px dashed #ddd;
}
.consult_list .detail{
	width:265px;
	word-wrap:break-word;
	text-align:left;
}
.consult_list .prod_name{
	float:left;
	text-align:left;
	width:180px;
	word-wrap:break-word;
}
.consult_list .reply_ctr{
	text-align:left;
}
.consult_list .reply_area{
	width:805px;
	height:22px;
	margin:5px 0;
	padding:0 5px;
	font-size:12px;
	resize:none;
    line-height: 20px;
    overflow-y: hidden;
}
.consult_list .reply_ctr .count{
	text-align:right;
	color:#666;
}
.reply_ctr .err{
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0 10px 0 22px;
	border:1px solid #f60;
	background:#ffc url(../img/error.png) no-repeat 5px 5px;
	color:#f60;
}
.reply_ctr .warn{
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0 10px 0 22px;
	margin-left:0;
	border: 1px solid #b4e1ef;
	background: url(../img/warn.png) no-repeat 5px 5px #E6F9FF;
	color: #666;
}
.reply_ctr .count{
	float:right;
}
.reply_ctr .count em{
	font:14px Georgia,Tahoma,Arial;
	display:inline-block;
	width:30px;
	text-align:center;
}
.consult_list .reply_edit td{
	background:#fbfbfb;
}
.consult_list .reply_yet td{
	text-align:right;
	background:#fffae2;
}
.consult_list .reply_tg{
	border-bottom:0 none;
}
.consult_list .reply_content{
	float:left;
}
.consult_list .reply_content span{
	display:inline-block;
	width:520px;
	word-wrap:break-word;
	text-align:left;
	color:#a40000;
}
.consult_list .reply_content .shop_reply{
	float:left;
}
.consult_list .reply_date{
	margin-right:5px;
	color:#666;
}
.consult_list .consult_date{
	color:#666;
}
.consult_list a{
	color:#005aa0;
}
.reply_btm{
	margin-top:5px;
}
.reply_btm button{
	margin:0 10px 0 0;
}


.tabs {
    height: 28px;
    margin-top: 10px;
}
.tabs li {
    float: left;
}
.tabs li a {
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #666666;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
.tabs li a:hover {
    border-color: #CCCCCC;
    color: #A40000;
    text-decoration: none;
}
.tabs em {
    color: #A40000;
}
.tabs li .cur {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #A40000;
    font-weight: 700;
    height: 28px;
    margin-bottom: -1px;
}
.tabs li .cur:hover {
    border-color: #A40000;
}
.tab_border{
    border-top: 1px solid #a40000;
    padding-top: 10px;
}
.s_type ul{
    padding-left:20px;
}
.s_type ul li {
    float: left;
    margin-right: 20px;
}
.s_type ul li input{
    margin-right:5px;
}

.page{ height:28px; margin:10px 0; overflow:hidden;}
.page a,
.page span{ display:block; float:left; margin:0 5px; line-height:22px;color:#666;}
.page a{ border:1px solid #bbb; padding:0px 7px;}
.page a:hover{ text-decoration:none; color:#a40000;border:1px solid #a40000;}
.page a.cur_page{background-color:#a40000; color:#fff; font-weight:bold;border:1px solid #a40000;}
.page .txt{ width:38px; height:14px;border:1px solid #bbb; text-align:center; color:#999;}
.page span.no_style{ color:#ccc;border:1px solid #ccc; padding:0px 7px;}