@charset "utf-8";
/* CSS Document */
body {
	font:12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
	color:#333;
}

/* wrapper */
.wrap {
	width:950px;
	margin:0 auto;
}

.fl{ float:left;}
/* link */
a {
	color:#005aa0;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#a40000;
}

/* clear float */
.clearfix:after {
	content:'\0020';
	display:block;
	height:0;
	clear:both;
}
.clearfix{
	zoom:1;
}

/* 边距 */
.mt10{
	margin-top:10px;	
}

/* 盒子 */
.box{
	width:100%;	
}
.box .hd{
	border:1px solid #eee;
	padding:0 10px;
	height:23px;
	line-height:23px;
	background:#eee	
}
.box .hd h4{
	font-size:14px;
	font-weight:700;
	color:#333333;
}
.box .bd{
	border:1px solid #eee;
	padding:9px;
}

/*留言分页的样式--------------start*/
.qjMessage_tabindex {
	padding-top:5px;
	height: 28px;
	margin: 10px 0;
	overflow: hidden;
}
.qjMessage_tabindex a, .qjMessage_tabindex span {
	display: block;
	float: left;
	line-height: 22px;
	margin: 0 5px;
}
.qjMessage_tabindex a {
	border: 1px solid #bbb;
	padding: 0 7px;
	color:#a40000;
}
.qjMessage_tabindex a:hover {
	border: 1px solid #A40000;
	color: #A40000;
	text-decoration: none;
}
.qjMessage_tabindex a.cur_page {
	background-color:#A40000;
	border:1px solid #A40000;
	color:#fff;
	font-weight: bold;
}
.qjMessage_tabindex span.no_style {
	border: 1px solid #ccc;
	color:#ccc;
	padding: 0 7px;
}
.qjTextAreaStyle {
	color:#d1d1d1;
}
/*留言分页的样式--------------end*/